Christopher J. Markiewicz <effigies@gmail.com>
Christopher J. Markiewicz <effigies@gmail.com> <effigies@bu.edu>
Christopher J. Markiewicz <effigies@gmail.com> <markiewicz@stanford.edu>
Taylor Salo <tsalo90@gmail.com>
Taylor Salo <tsalo90@gmail.com> <tsalo006@fiu.edu>
Taylor Salo <tsalo90@gmail.com> <salot@pennmedicine.upenn.edu>
